<div class="content-wrapper buffer-both text-center">
  <h3 class="title-medium">Вопросы с хештегом
    <span class="hashtag">#<%=@hashtag.name%></span>
  </h3>
</div>
<% @hashtag_questions.each do |question| %>
  <%= render partial: 'questions/question', object: question%>
<% end %>
